@import "tailwindcss";

/* .charts-container {
  display: flex;
  background-color: blue;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 20px;
}

.chart-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
} */